<!doctype html>
<html >
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
      <link rel="stylesheet" type="text/css" href="styleCss.css">
  </head>
  <body >
    <script src="gridDataSrv.js"></script>
    <script src="gridCtrl.js"></script>
    
    <div ng-app="myApp" ng-controller="gridCtrl">
        <p>{{isForm}}</p>
        <p>mode {{appMode}}</p>
        <div class="inputDiv" ng-show="{{isForm=='form1'}}">
          
          <h1 class="controlLabel">Please Enter bitmap size</h1>
          <input  class="inputD" type="number" ng-model="nD" placeholder="Enter N here"  required > <br>
          <input class="inputD" type="number" ng-model="mD" placeholder="Enter M here" required > <br>
            
          <button class="button" ng-click="drawBitMap()">DRAW</button>
          <button class="button" ng-click="randomizeMap()">RANDOMIZE</button> 
          <button class="button" ng-click="solveIslands()">SOLVE</button>
            
            
            
             
        </div>
        <table style="margin-left: 70px;border: 1px;border-color: aquamarine;">
          <tr ng-repeat="row in grid" style="line-height: 5px; column-width: 5px;">
            <td ng-repeat="cell in row" style="line-height: 5px; column-width: 5px;border-color: black; border: 1px; background-color: {{cell.htmlColor}}"> </td>
          </tr>
        </table>
        
        
<!--
        <div ng-show="{{isForm=='form2'}}">
            <h2>Form2</h2>
            <button class="button" ng-click="solveIslands()">SOLVE</button>
        </div>
-->
    </div>
      
      
    
    
  </body>
</html>