.inputD{
    color: skyblue;
    font-weight: normal;
    align-self: center;
    font-size: 14;
    font-family: cursive;
    margin-bottom: 5px;
}
.controlLabel{
    color: lightblue;
    font-family: cursive;
}
.inputDiv{
    text-align: center;
   
}
.button{
    background-color: lightblue;
    text-decoration-color: darkblue;
    font-family: cursive;
    
}

table, th , td {
    align: center;
    border: 1px solid grey;
    border-collapse: collapse;
    height: 6px;
}

td{
    column-width: 6px;
}
